body {
  background-color: black;
}

/*=================  HEADER ================== */

/*=================  MAIN ================== */

/*=================  FOOTER ================== */
p {
  margin-bottom: 0;
  text-align: center;
  font-size: smaller;
}
