body {
  background-color: black;
}

/*=================  HEADER ================== */

/* Gregslist logo */
#logo {
  max-width: 85%;
  height: auto;
  padding: 1rem;
}

/* Weather API */
.weather-text {
  font-size: smaller;
}

.italic {
  font-style: italic;
}

/* Login Buttons */
#login-btns {
  color: white;
  margin: 0;
  padding: 0;
}

/*=================  MAIN ================== */

.hero-container {
  position: relative;
}

/* Hero image */
.hero-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Hero Float */
.overlay {
  z-index: 9;
  position: relative;
  margin-top: 10vh;
  text-align: center;
}

#hero-button {
  background-color: rgb(46, 171, 40);
  color: white;
  font-size: small;
  border-radius: 45%;
  border: none;
}

h3 {
  color: rgb(190, 190, 190);
}

/* Product Cards */

#product-card-image {
  width: 15rem;
  max-height: 15rem;
  border-radius: 10px 10px 0 0;
}
#show-image {
  max-height: 20rem;
  border-radius: 15px 15px 0 0;
}

/*=================  FOOTER ================== */

/* Text */
#footer-text {
  margin-bottom: 0;
  text-align: center;
  font-size: smaller;
}
